.weekday-list {
    font-size: 14px;
    font-weight: 500;
  }
  
  .day-list {
    font-size: 12px;
    font-weight: 300;
    color: #888888;
    margin-bottom: 0;
  }
  
  .temperature-max {
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .temperature-min {
    font-size: 12px;
    font-weight: normal;
    color: #888888;
  }
  
  .emoji-list {
    justify-content: center;
    align-content: center;
    width: 45px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  